<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iBirkat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>604FB1FD2EC8E6AD001D97AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>604FB20A2EC8E6AF001D97AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>604FB2142EC8E6AF001D97AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
